{% extends "base.html" %}

{% block content %}
<div class="type">
  <form method="post">
    <label>
      <div class="post-title">Subject</div>
      <input type="text" name="subject" value="{{subject}}">
    </label>
    <br>
    <label>
      <div class="post-title">Prompt</div>
      <textarea class="prompt" name="prompt">{{prompt}}</textarea>
    </label>
    <label>
      <div class="post-title">Essay</div>
      <textarea id="text" name="content">{{content}}</textarea>
    </label>
    <div id="result"></div>
    <div class="error">{{error}}</div>
    <br>
    <input type="submit">
  </form>
  <a href="/" class="goback-button">
    Go Back
  </a>
</div>
{% endblock %}
